mixin doc-dl(file)
    a.doc-dl(
        href=`/docs/${file}`,
        download
    )
        img(
            src="/images/icons/doc-dl.png"
            height="32px"
            width="32px"
            alt="doc-dl"
        )
        .doc-dl__name #{file}
