.d-sm-flex.flex-row.bg-white-smoke.flex-wrap.justify-content-center
    a.service(href="/services#landlords")
        .service-title LANDLORDS
        img.p-4.service-img(
            src="/images/maintenance.jpg"
            alt="landlords"
        )
    a.service(href="/services#tenants")
        .service-title TENANTS
        img.p-4.service-img(
            src="/images/rentals.jpg"
            alt="tenants"
        )
    a.service(href="/services#investors")
        .service-title INVESTORS
        img.p-4.service-img(
            src="/images/architecture.jpg"
            alt="investors"
        )
